body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Lora, serif;
    background-color: rgb(255, 242, 227);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" style="font-size:20px"><text y="16">↖🌻</text></svg>'), auto;
}
h1 {
    font-size: 80px;
}

h1, h2, a {
    font-family: "Ubuntu Sans", serif;
}

a, a:active {
    font-size: 20px;
    margin: 20px;
    font-weight: 500;
    color: seashell;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" style="font-size:20px"><text y="16">☀️</text></svg>'), auto;

}

a:hover {
    color: rgb(113, 151, 255);
}

/* HERO SECTION */

.hero-section {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(255, 242, 227);
    height: 500px;
    gap: 16px;
}

.hero-content {
    flex: 1;
    width: 66.66%;
    float: right;
    margin: 0 0 0 220px;
    align-self: center;
}

#avatar {
    flex: 0 0 1;
    width: 345px;
    height: 351px;
    margin: 0 220px 0 0;
    align-self: center;
}

/* ABOUT ME */

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px; 
}

.about-text-section {
    flex: 2 1 600px;
    margin: 0;
    padding: 24px 16px;
    background-color: rgb(255, 242, 227);
    min-width: 800px;
    justify-content: center;
    box-sizing: border-box;
    align-self: center;
}

.about-interaction {
    background-color: rgb(255, 171, 102);
    position: relative;
    overflow: hidden;
    flex: 1 1 300px;
    margin: 0;
    padding: 24px 16px;
    align-items: center;
    box-sizing: border-box;
}

#custom-cursor-about {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%,-180%);
    pointer-events: none;
}


/* WHY*/

.why-container {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 500px;
}

.why-text-section {
    flex: 2 1 600px;
    margin: 0;
    padding: 24px 16px;
    background-color: rgb(255, 242, 227);
    justify-content: center;
    box-sizing: border-box;
    align-self: center;
}
 
.why-interaction {
    background-color: rgb(186, 244, 252);
    position: relative;
    overflow: hidden;
    flex: 1 1 300px;
    margin: 0;
    padding: 24px 16px;
    align-items: center;
    box-sizing: border-box;
}

#custom-cursor-why {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%,-100%);
    pointer-events: none;
}


/* COOL SECTION */

.cool-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 107, 57);
    height: 150px;
}

.links {
    margin: 20px;
}



@media (max-width: 1300px) {
    .hero-section {
        flex-direction: column-reverse; 
        align-items: center;
        height: auto;
        gap: 16px;
    }

    #avatar {
        flex: 0 1 auto;
        width: 230px;
        height: auto; 
        margin: 0 auto;
    }

    .hero-content h1 {
        font-size: 40px;
        min-width: 100px;
        text-align: center;
    }

    .hero-content {
        flex: 0 1 auto; 
        margin: 0; 
        width: 90%; 
        text-align: center; 
    
    }
}

@media (max-width: 1000px) {
    .about-me-container, .why-container {
        flex-direction: column;
        align-items: stretch; 
        height: auto;
    }

    .why-container {
        /* Override the direction for the why section */
        flex-direction: column-reverse; 
    }

    .about-text-section, .why-text-section,
    .about-interaction, .why-interaction {
        flex: 1 1 auto; 
        min-width: 0; 
        height: auto;
        width: 100%;
    }
    .about-interaction, .why-interaction {
        height: 100px;
    }

    .about-text-section, .why-text-section {
        flex: 1 1 auto;
        min-width: 0;
        height: auto; 
        align-self: flex-start;
    }

}