body {
    text-align: center;
    margin: 20px;
    /* background-color: rgb(29, 29, 29); */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 62%, rgba(0,212,255,1) 100%);
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

h1 {
    font-size: 2em;
    color: #5f94ff;
    padding: 24px 0px 8px 0px;
}

p {
    color: antiquewhite;
}

.game-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    margin: 0;
    padding: 24px 16px;
    /* background: rgb(2,0,36); */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 62%, rgba(0,212,255,1) 100%);
    align-items: center;
    min-width: 300px;
    height: 550px;
    border-radius: 10px 0 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img.spaceship {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 80%;
    height: 50%;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

img#spaceship:hover {
    background-color: #2980b9;
}


/* GAME AREA */

.guessing-area {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 0;
    padding: 24px 16px;
    min-width: 300px;
    height: 550px;
    background-color: rgb(29, 29, 29);
    border-radius: 0 10px 10px 0;
    align-items: center;
    justify-content: flex-start;
}

#hint-btn, #close-modal {
    justify-self: center;
    align-self: flex-end;
    /* align-content: flex-start; */
    font-family: "Space Mono", serif;
    font-weight: 400;
    background-color: #000414;
    color: white;
    border-style: outset;
    border-color: white;

}

#hint-btn:hover, #close-modal:hover {
    background-color: #ffac5f;
}

#hint-btn:active, #close-modal:active {
    border-style: inset;
}

.modal {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Mono", serif;
    font-weight: 400;
    background-color: #000414;
    color: white;
    border-style: solid;
    border-color: white;
}

.modal.open {
    opacity: 0.9;
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 200px;
}

#intro-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
}

/* example */

.game-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;

}

.message {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: 500;
    color: #e74c3c;
}
.options-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.option-btn {
    padding: 15px;
    font-size: 1em;
    font-family: "Space Mono", serif;
    font-weight: 400;
    background-color: #000414;
    color: white;
    border-style: outset;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.option-btn:hover {
    background-color: #011875;
}

.option-btn:active {
    background-color: #011875;
    border-style: inset;
}

.option-btn.selected {
    /* background-color: #ddaa80; Green for selected button */
    border: 3px solid #070808;
    /* border-color: #333; */
    /* transform: scale(1.1); Slight zoom effect */
}

.start-btn {
    font-family: "Space Mono", serif;
    font-weight: 600;
    max-width: 200px;
    height: auto;
    font-size: 1.2em;
    align-self: center;
    justify-self: flex-end;
    background-color: #000414;
    color: white;
    border-style: outset;
    border-color: white;
    border-radius: 1px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #011875;
}

.start-btn:active {
    background-color: #011875;
    border-style: inset;
}

.restart-btn {
    display: none;
    font-family: "Space Mono", serif;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #5c2200;
    color: white;
    border-style: outset;
    border-color: white;
    border-radius: 1px;
    cursor: pointer;
}
.restart-btn:hover {
    background-color: #ffac5f;
}